p, h1, h2, h3, h4, h5, h6, label {
  color: #bf6b04 !important; }

/* CI CLASSES */
.CIBurntSienna {
  color: white !important;
  background-color: #f28066 !important; }

.CIWhite {
  color: #bf6b04 !important;
  background-color: white !important; }

.CIButtercup {
  color: white !important;
  background-color: #f2a922 !important; }

.CIApricot {
  color: white !important;
  background-color: #f29472 !important; }

.CIPancho {
  color: #f28066 !important;
  background-color: #f2ceae !important; }

.white {
  color: white !important; }

.rosa {
  color: #fc9caa !important; }

.yellow {
  color: #f2a922 !important; }

.redCI {
  color: #fa0025 !important; }

/* PICTURE RECIPE HOMEPAGE */
.HomepageMargin {
  margin-top: 20% !important; }

@media screen and (min-width: 600px) {
  .HomepageMargin {
    margin-top: 10% !important; } }

@media screen and (min-width: 1000px) {
  .HomepageMargin {
    margin-top: 5% !important; } }

.paddings {
  padding-top: 0.5rem  !important;
  padding-bottom: 0.5rem  !important; }

.button.margin {
  margin-bottom: 1.5rem !important;
  margin-left: 1rem !important; }

.extra.paddings {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.grouped.fields.paddings {
  padding: 0.5rem 0 0 0 !important; }

div.ui.grid.marginTopDown {
  margin-top: 1.5rem !important;
  margin-bottom: 4.5rem !important; }

/* MENU STYLE */
body div.ui.menu {
  position: relative; }

div.ui.menu {
  border: 0 !important;
  border-bottom: 2px solid #bf6b04 !important;
  box-shadow: none !important;
  border-radius: 0 !important; }

div.ui.menu a.item {
  font-weight: bold;
  color: #bf6b04 !important; }

.doTextBold {
  font-weight: bold;
  text-transform: uppercase; }

a.circularButton {
  z-index: 1;
  position: absolute;
  align-self: flex-end;
  right: 7px;
  font-size: 1.5rem !important;
  top: 10px; }

.navbarMobile {
  z-index: 1;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  border-top: 2px solid #bf6b04 !important;
  border-bottom: none !important; }

.navMenuMobile {
  justify-self: left; }

div.menu > a.item.navMenuPencilMobile {
  z-index: 1;
  font-size: 1.7rem !important;
  border-radius: 6rem;
  padding: 2.1rem 0.8rem;
  transform: translate(0rem, -1.5rem);
  color: white !important; }

.iconStyle {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  align-items: center; }

.iconStyle p {
  font-size: 0.7rem; }

span.iconStyleNavTop {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center; }

span.iconStyleNavTop p {
  font-size: 0.7rem; }

a.item.Logo {
  padding: 0.4rem !important; }

a.item.Logo.mobile {
  left: -18px; }

a.item img {
  max-height: 35px !important; }

.menu.logoCentered {
  margin: 0 auto !important; }

.ui.menu .item > img:not(.ui) {
  width: 7.5rem !important; }

.labelRating {
  display: flex; }

.closeMenu {
  margin-left: 7px !important;
  margin-top: 7px !important; }

.sideBarPusherStyle {
  min-height: 100vh !important; }

.menuStyleMobileContainer {
  margin-bottom: 0 !important; }

.containerMarginTop {
  margin-top: 10px !important; }

/* Recipe Cards */
.timeStyleCard {
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.8rem;
  padding: 0.5rem;
  margin: 0.8rem;
  border-radius: 0.5rem;
  display: flex;
  color: white !important;
  background: rgba(191, 107, 4, 0.8); }

.likeHeart {
  z-index: 2;
  width: auto;
  right: 0;
  top: 3px;
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
  display: flex; }

.likeCount {
  font-size: 0.9rem;
  margin-top: -0.4rem; }

.likeText {
  font-size: 1.2rem;
  padding-left: 0.5rem; }

.checkBoxLabel {
  padding: 0 1rem; }

/* Recipe View Styling */
.RecipeViewPicContainerStyle {
  display: flex;
  justify-content: center; }

.RecipeViewLabelOnPicStyle {
  position: absolute;
  z-index: 1;
  align-self: flex-end;
  bottom: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  color: white; }

.RecipeViewPicStyle {
  max-height: 450px;
  position: relative; }

.RecipeInfosLabel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 1.2rem; }

.RecipeDescription {
  font-size: 1.2rem; }

.RecipeInfosLabel label {
  margin-bottom: 0.5rem;
  font-weight: bold; }

.RecipeInfoDiv {
  margin-top: 0.8rem; }

.descriptionColor p,
.descriptionColor ul,
.descriptionColor li,
.descriptionColor div,
.descriptionColor p,
.descriptionColor ol {
  color: #2a2a2a !important; }

.RecipeInfosLabelContainer {
  margin-right: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.recipeTime {
  display: flex !important;
  flex-wrap: wrap;
  margin-right: 1.5rem;
  padding: 1rem 0 0 0; }

.recipeTime label {
  padding: 0.5rem 0;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column; }

.styleItem {
  flex-direction: row !important; }

@media screen and (max-width: 767px) {
  .ui.items:not(.unstackable) > .item > .image.styledItemImage {
    max-height: 60px !important; }
  .ui.items > .item > div.image.styledItemImage > img {
    max-height: 60px !important;
    margin-right: 1.3rem !important; }
  .styleItem div.middle.aligned.content.styledItemHeader {
    padding: 0 !important; }
  .ui.items .item.styleItem {
    margin-top: 0 !important;
    flex-direction: row !important; } }

/* Change Rating Icon */
.ui.rating .icon {
  font-family: "Font Awesome 5 Pro", solid !important; }

.ui.rating .icon:before {
  content: '\f787' !important;
  font-weight: 900; }

div.ui.star.rating i.active.icon {
  color: #f2a922 !important;
  text-shadow: 0 -1px 0 #9a680a, -1px 0 0 #9a680a, 0 1px 0 #9a680a, 1px 0 0 #9a680a !important; }

/* -------------------------------------------------------------------------------------------------------------------------------------- */
.draftJsToolbar__buttonWrapper__1Dmqh {
  display: inline-block; }

.draftJsToolbar__button__qi1gf {
  background: #fbfbfb;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px; }

.draftJsToolbar__button__qi1gf svg {
  fill: #888; }

.draftJsToolbar__button__qi1gf:hover, .draftJsToolbar__button__qi1gf:focus {
  background: #f3f3f3;
  outline: 0;
  /* reset for :focus */ }

.draftJsToolbar__active__3qcpF {
  background: #efefef;
  color: #444; }

.draftJsToolbar__active__3qcpF svg {
  fill: #444; }

.draftJsToolbar__separator__3U7qt {
  display: inline-block;
  border-right: 1px solid #ddd;
  height: 24px;
  margin: 0 0.5em; }

.draftJsToolbar__toolbar__dNtBH {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px 0 gainsboro;
  z-index: 2;
  box-sizing: border-box;
  margin-bottom: 10px; }

.draftJsToolbar__toolbar__dNtBH:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 4px;
  margin-left: -4px; }

.draftJsToolbar__toolbar__dNtBH:before {
  border-color: rgba(221, 221, 221, 0);
  border-top-color: #ddd;
  border-width: 6px;
  margin-left: -6px; }

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0 1px 8px -3px #ABABAB;
  background: #fefefe;
  min-height: 140px;
  color: black;
  line-height: 1.5rem;
  font-size: 1.2rem !important; }

.editor ul li, .editor ol li {
  line-height: 1.5rem;
  margin: 0; }

.public-DraftStyleDefault-block {
  margin: 0 !important; }
